%p#notice= notice

%table{class: :table}
  %tbody
    %tr
      %td Name:
      %td= @team.name
    %tr
      %td Github url:
      %td= @team.github_url
    %tr
      %td Web url:
      %td= @team.web_url

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
